MARKETPLACE_DB_PORT=1433
MARKETPLACE_API_PORT=5000
MARKETPLACE_DB_NAME=MarketplaceDb
MSSQL_SA_PASSWORD=Yacine9achbi3!

JWT_SECRET=21df24b9beb3d5512f19b25fe9ecfbfd73ca818c33f36395fd327601403bc011
JWT_ISSUER=MarketplaceApi
JWT_AUDIENCE=MarketplaceApp

AZURE_STORAGE_CONNECTION_STRING=
AZURE_STORAGE_BASE_URL=

TWILIO_ACCOUNT_SID=AC0dbb4c24e9608025a484272c7e4da328
TWILIO_AUTH_TOKEN=3a014b069c43e38f99903cdbb8b2ffb2
TWILIO_VERIFICATION_SERVICE_SID=
